<div class="panel">
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in">
                <div class="row">
                    <div class="nav-tabs-custom charts-custom">
                        <div class="chart tab-pane" id="count-m-chart" style="position: relative; height: 300px;">
                        </div>
                    </div>
                    <div class="nav-tabs-custom charts-custom">
                        <div class="chart tab-pane" id="time-m-chart" style="position: relative; height: 300px;">
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="nav-tabs-custom charts-custom">
                        <div class="chart tab-pane" id="count-h-chart" style="position: relative; height: 300px;">
                        </div>
                    </div>
                    <div class="nav-tabs-custom charts-custom">
                        <div class="chart tab-pane" id="time-h-chart" style="position: relative; height: 300px;">
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="nav-tabs-custom charts-custom">
                        <div class="chart tab-pane" id="count-d-chart" style="position: relative; height: 300px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>