<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Message_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-message_id" data-rule="required" data-source="messages/index" class="form-control selectpage" name="row[message_id]" type="text" value="{$row.message_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_read')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-is_read" class="form-control" name="row[is_read]" type="number" value="{$row.is_read|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Read_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-read_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[read_time]" type="text" value="{:$row.read_time?datetime($row.read_time):''}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>
